<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>
  
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p][%C{0}.%M] %m%n</pattern>
    </encoder>
  </appender>
  
  <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <file>/service/ticket/logs/api/error/error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/service/ticket/logs/api/error/error.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p][%C{0}.%M] %m%n</pattern>
    </encoder>
  </appender>
  
  <appender name="db" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <file>/service/ticket/logs/api/db/db.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/service/ticket/logs/api/db/db.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}]%n%m%n</pattern>
    </encoder>
  </appender>
  
  <appender name="service" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>
    <file>/service/ticket/logs/api/service/service.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/service/ticket/logs/api/service/service.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5p][%C{0}.%M] %m%n</pattern>
    </encoder>
  </appender>
  
  <logger name="jdbc" level="OFF" />
  <logger name="jdbc.sqltiming" level="OFF" />
  <logger name="jdbc.audit" level="OFF" />
  <logger name="jdbc.resultset" level="OFF" />
  <logger name="jdbc.connection" level="OFF" />
  
  <logger name="jdbc.sqlonly" additivity="false" level="INFO">
    <appender-ref ref="console" />
    <appender-ref ref="db" />
  </logger>
  
  <logger name="jdbc.resultsettable" additivity="true" level="INFO">
    <appender-ref ref="db" />
  </logger>
  
  <logger name="com.ticket.api" additivity="false" level="INFO">
    <appender-ref ref="console" />
    <appender-ref ref="service" />
  </logger>
  
  <logger name="org.springframework" additivity="false" level="ERROR">
    <appender-ref ref="console" />
    <appender-ref ref="error" />
  </logger>
  
  <root level="WARN">
    <appender-ref ref="console" />
    <appender-ref ref="error" />
  </root>
</configuration>